.anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.poppins {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

.header-text{
    background: -webkit-linear-gradient(500deg, #35ba0d  25%, #2328bd);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}